<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-container>
      <c-row>
        <c-col>
          <c-card-header>
            <h4 class="card-title mb-0">Privilege List</h4>
          </c-card-header>
        </c-col>
        <c-col>
          <c-card-header style="float: right">
            <button
              [cModalToggle]="verticallyCenteredModal.id"
              cButton
              color="dark"
            >
              <svg [cIcon]="icons.cilPlus" size="sm" title="List Icon"></svg>
              Add
            </button>
            <button cButton color="dark" id="btnDelete" disabled="{{ selectedIds.length == 0 }}">
              <svg [cIcon]="icons.cilTrash" size="sm" title="List Icon"></svg>
              Delete
            </button>

          </c-card-header>
        </c-col>
      </c-row>
    </c-container>
    <c-card-body>
      <div class="table-container">
        <table cTable class="m-table" hover>
          <thead>
            <tr>
              <th scope="col">
                <input
                  id="checkOne"
                  type="checkbox"
                  [(ngModel)]="selectAll"
                  (change)="toggleSelectAll()"
                />
              </th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Updated at</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="data">
            <tr *ngFor="let item of data; let i = index">
              <th scope="row">
                <input
                  type="checkbox"
                  [checked]="isSelected(item.id)"
                  id="check{{ item.id }}"
                  [(ngModel)]="checkboxes[item.id]"
                />
              </th>
              <td>
                {{ item.name }}
              </td>
              <td>
                {{ item.description ? item.description : '-' }}
              </td>
              <td>
                {{ item.updated_at ? item.updated_at : '-' }}
              </td>
              <td>
                <c-form-check [switch]="true" *ngIf="item.status == 1">
                  <input
                    cFormCheckInput
                    checked
                    type="checkbox"
                    id="status{{ item.id }}"
                  />
                </c-form-check>
                <c-form-check [switch]="true" *ngIf="item.status == 0">
                  <input
                    cFormCheckInput
                    type="checkbox"
                    id="status{{ item.id }}"
                  />
                </c-form-check>
              </td>
              <td>
                <button
                  [cModalToggle]="modal.id"
                  cButton
                  color="light"

                >
                  <svg
                    [cIcon]="icons.cilPencil"
                    size="sm"
                    title="List Icon"
                  ></svg>
                </button>
                <button cButton  color="light">
                  <svg
                    [cIcon]="icons.cilTrash"
                    size="sm"
                    title="List Icon"
                  ></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </c-card-body>
    <!-- <c-card-footer *ngIf="total && total.length > 1">
      <c-pagination aria-label="Page navigation example" size="sm">
        <li cPageItem>
          <a
            cPageLink
            aria-label="Previous"
            id="btnPrevious"
            (click)="previousPage()"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li cPageItem *ngFor="let page of total" [class.active]="page == pages">
          <a cPageLink (click)="getUsers(page)">
            {{ page }}
          </a>
        </li>

        <li cPageItem>
          <a cPageLink aria-label="Next" id="btnNext" (click)="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </c-pagination>
    </c-card-footer> -->
  </c-col>
</c-row>

<c-modal
#verticallyCenteredModal
alignment="center"
id="verticallyCenteredModal"
>
<c-modal-header>
  <h5 cModalTitle>Add privilege</h5>
  <button
    [cModalToggle]="verticallyCenteredModal.id"
    cButtonClose
  ></button>
</c-modal-header>
<form 
  #browserDefaultsForm="ngForm"
  [gutter]="3"
  cForm
  cRow
  ngNativeValidate
>
  <c-modal-body>
    
  </c-modal-body>
  <c-modal-footer>
    <button
      [cModalToggle]="verticallyCenteredModal.id"
      cButton
      color="secondary"
      id="closeBtn"
    >
      Close
    </button>
    <button cButton color="primary" type="submit" class="me-1">Save</button>
  </c-modal-footer>
</form>
</c-modal>


<c-modal #modal alignment="center" id="modal">
  <c-modal-header>
    <h5 cModalTitle>Edit Group</h5>
    <button [cModalToggle]="modal.id" cButtonClose></button>
  </c-modal-header>
  <!-- <form (ngSubmit)="edit()">
    <c-modal-body *ngIf="getGroupbyId">
      <div class="mb-3">
        <label cLabel for="name">Name</label>
        <input
          aria-label="name"
          [value]="getGroupbyId.name"
          [(ngModel)]="getGroupbyId.name"
          name="name"
          cFormControl
          placeholder="name"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="address">Address</label>
        <input
          aria-label="address"
          [value]="getGroupbyId.address"
          [(ngModel)]="getGroupbyId.address"
          name="address"
          cFormControl
          placeholder="address"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="phone">Phone</label>
        <input
          aria-label="phone"
          [value]="getGroupbyId.phone"
          [(ngModel)]="getGroupbyId.phone"
          name="phone"
          cFormControl
          placeholder="phone"
          (keydown)="onKeyPress($event)"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="email">Email</label>
        <input
          aria-label="email"
          [value]="getGroupbyId.email"
          [(ngModel)]="getGroupbyId.email"
          name="email"
          cFormControl
          placeholder="email"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="website">Website</label>
        <input
          aria-label="website"
          [value]="getGroupbyId.website"
          [(ngModel)]="getGroupbyId.website"
          name="website"
          cFormControl
          placeholder="website"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="description">Description</label>
        <textarea
          aria-label="description"
          type="textarea"
          [value]="getGroupbyId.description"
          [(ngModel)]="getGroupbyId.description"
          name="description"
          cFormControl
          placeholder="description"
        >
        </textarea>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="modal.id" cButton color="secondary" id="closeBtnEdit">
        Cldose
      </button>
      <button cButton color="primary" type="submit">Save changes</button>
    </c-modal-footer>
  </form> -->
</c-modal>